*{
    box-sizing: border-box;
    height: 100%;
    
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color:  #2F308B;
    color: rgb(238, 231, 231);;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.conteudo{
    height: 460px;
    
}

.menu {
    text-decoration: none;
    background: #A0A1D9;
    color: #A0A1D9;
    font-size: 1.3em;
    border-bottom: solid 5px #4faddb;
    height: 30px;
    width: 1333px;
    box-sizing: content-box;
    padding: 15px;
    display: inline-block;
    vertical-align: middle ;    
   
}

.menu ul {
    margin: 0;
    padding: 0;
}

.menu li{
    display:inline-block;
    height: auto;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    padding: 15px;
}

.menu a:hover , .menu a.selected{
    background-color: solid 5px #4faddb;
    color:#737373;
}

.footer {
   
    text-decoration: none;
    background: #A0A1D9;
    color: white;
    font-size: 1.3em;
    height: 30px;
    width: 1323px;
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    vertical-align:bottom ;  
    margin-bottom: 0px;
}

.idioma { 
   
    width: auto;
    display: flex;
    flex-direction: row;
   
   
}

.idioma ul{
    margin-left: 320px;
    margin-bottom: 50px;
    display:flex;
    flex-direction: row;
    width: auto;
   
   
}

.idioma li {
    width: auto;
    margin-left: 30px;
    color:white;
}

.idioma a:hover , .idioma a.selected{
    background-color: solid 5px #4faddb;
    color:#737373;
}





div.absolute {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 100px;
    left: 0px;
    width:100%;
    height: auto;
   

  }

img {
   
    border: 1px solid #ddd;
    padding: 5px;
    margin-left: 100px;
    height: 400px;
    width:auto;
    border-radius: 8px;
}

.texto{
    margin-top: 150px;
    margin-left: 100px;
    text-align: center;
    white-space: nowrap;
    height: auto;
    
}
  
.lista{
    list-style-type: circle;
}



.divhab {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 100px;
    left: 0px;
    width:100%;
    height: 426px;
    
}

.divhab2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:auto;
    height: auto;
   
    
}

.divhab2 p{
    margin-left: 20px;
    height: auto;
    width: auto;
    text-shadow: 2px 2px #000000;
}

.divhab2 ul{

    height: auto;
    width: auto;
   }


.lista{
    text-align: left;
    white-space: nowrap;
    line-height:20px;
   
    
}

.lista li{
    margin-bottom: 3px;
    height: auto;
    left: 0px;

}


.elem1{
    border: 4px solid rgb(190, 238, 15);
}
.elem2{
    border: 1px solid rgb(238, 22, 15);
}

.elem3{
    border: 1px solid rgb(48, 15, 238);
}